version: "3.8"

services:
  db:
    image: postgres:14-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - finexcel-net
    ports:
      - "${DB_PORT}:5432"

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./pgadmin/servers.json:/pgadmin4/servers.json:ro
    networks:
      - finexcel-net

  backend:
    build:
      context: ./backend/finexcel
      dockerfile: Dockerfile
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - DATABASE_URL=${DATABASE_URL}
      - NODE_ENV=${NODE_ENV}
    volumes:
      - ./backend/finexcel/src:/app/src
      - ./backend/finexcel/prisma:/app/prisma
      - /app/node_modules
    image: finexcel-backend
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - "${BACKEND_PORT}:3000"
    networks:
      - finexcel-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    environment:
      - NODE_ENV=${NODE_ENV}
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - /app/node_modules
    image: finexcel-frontend-dev
    restart: unless-stopped
    ports:
      - "${FRONTEND_PORT}:5173"
    networks:
      - finexcel-net

volumes:
  db-data:
  pgadmin-data:

networks:
  finexcel-net: